@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ovo&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}
.navbar{
  background-color: white;
}
.navbar-brand{
  font-size: 1.8rem !important;
  color: #565387 !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #3498db !important;
}

/*Main Section Header */

#header{
  width:100%;
  height: 60vh;
  margin-top: 70px;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color: #565387;
  font-size: 20px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}
.header-img{
  text-align: right;

}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  width: 580px;
  height: 570px;
}
section{
  margin-top: 15vh;
  width:100%;
  height: 65vh;
}
#aboutus{
  background-color: #e0e0e0;
}
#aboutus h1{
  text-align: center;
  color: black;
}
#aboutus h2{
  text-align: center;
  color: #565387;
  margin-top: 20px;
}
#aboutus h3{
  text-align: center;
  color: #565387;
  font-size: 20px;
}
#aboutus .brand-name{
  color: #3498db;
}
#aboutus .mt-5{
  margin-top: 1.5em !important;
}
#aboutus .underline{
  line-height: 1.5em;
  color: black;
  position: relative;
}
#aboutus .underline:after{
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 50px;
  border:2px solid  #3498db;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);
}
#aboutus .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#aboutus .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}
#contactus{
  width:100%;
  height: 80vh;
  background-color: #e0e0e0;
}
#contactus .text-center{
  padding-top: 20px;
}

@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-7px);
  }
}

@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-7px);
  }
}
.card-img-top{
  transform-origin: 50% 65%;
  transition: transform 2s, filter 3s ease-in-out;
  filter: brightness(100%)
}
.card-img-top:hover{
  filter: brightness(100%);
  transform: scale(1.1);
  cursor: pointer;
}
.contact_div{
  width: 100%;
  height: 45vh
}
footer p{
  padding: 0;
  margin: 80px;
}

@media (max-width: 991px){
  #header{
    height: 80vh;
    text-align: center;
  }
  #header .header-img{
    text-align: center;
  }
  #header .header-img img{
    width: 60%;
  }
}
@media (max-width: 768px){
  #header{
    margin-top: 20px;
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img{
    width: 70%;
    height: 95%;
  }
}